.homepage-content {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6vmin;
    font-size: 30px;
}

.homepage-subtitle {
    color: #ff8104;
}

.homepage-image {
    width: 60%;
    border: none;
}

@media (max-width: 768px) {
    .homepage-content {
        display: block;
    }
}